
.select-items{
	position: relative;
	display: inline-block;
	width: 150px;
	border: 1px solid #cecece;
	background-color: white;
	margin-top: 15px;
	margin-right: 10px;
}

.select-items:hover {
	cursor:pointer;
}

.select-items.active{
	border-bottom: none;
}

.select-items a {
	color:#959595;
	font-family: 'nexa-bold';
	text-decoration: none;
	font-size: 12px;
}



.choosen {
	margin:4px 15px 4px 30px;
	padding-top:4px;
	padding-bottom: 4px;
	line-height: 3.0em;
}

.list-right {
	display: inline-block;
}

.drop {
	padding: 0;
	width:150px;
	display: none;
	position:absolute;
	background-color: #fff;
	margin: 0 0 0 -1px;
	border:1px solid #cecece;
	z-index: 99;
}

#season{
	width:180px;
}

#season > .drop{
	width:180px;
}

.drop li {
	list-style:none;
	display: block;
	color:#959595;
	padding: 4px 15px 4px 30px;
}

.drop a {
	text-decoration: none;
	color:#959595;
}

.drop li:hover {
	background-color: #e8e8e8;
}


.clock{
	position: absolute;
    margin-top: 10px;
    margin-left: 5px;
}

.list-img {
	position: absolute;
	right:0px;
}

/* Dark selector*/

.header-menu-right .select-items {
	background-color: #474747;
	border:none;
	border-right:1px solid #767676;
}

.header-menu-right .select-items a{
	color:#fff;
}

.header-menu-right .select-items .drop{
	background-color: #474747;
	border:1px solid transparent;
	z-index: 98;
}

.header-menu-right .select-items .drop li:hover {
	background-color: #595959;
}

.header-menu-right .select-items .clock{
	position: absolute;
    margin-top: 10px;
    right:15px;
}