body{
	padding: 0;
	margin: 0;
	background-color: #ebebeb;
}

header{
	background-color: #373737;
	width:100%;
	height:67px;
}

a {
	text-decoration: none;
}

.header-top{
	margin:0 auto;
	width: 940px;
	height: 67px;
	position: relative;
}

.header-top p{
	display: inline-block;
	color:#d5d5d5;
	font-family: 'nexa-light';
	font-size:19px;
	margin-left: 10px;
	margin-top: 20px;
}

.g-back-top{
	width:92px;
	display: inline-block;
	float:left;
}

.g-back-top span{
	position: absolute;
	font-family: 'nexa-bold';
	font-size: 35px;
	color:white;
	margin-top: 4px;
    margin-left: 28px;
}

.input-header{
	float:right;
}

.main-frame{
	margin:0 auto;
	width:940px;
}

.header-menu {
	margin-top: -4px;
    height: 67px;
    width: 84.8%;
    background-color: #474747;
    float: right;
    position: relative;
    font-family: 'nexa-bold';
}

.header-menu a{
	color:white;
	font-size:12px;
}

.header-top-menu{
	margin:0;
	width: 940px;
	height: 67px;
	position: relative;
	display: block;
}

.header-menu-left ul {
	margin-top:20px;
	padding:0;
	list-style-type: none;
	float: left;
}

.header-menu-left ul > li {
	float:right;
	border-right:1px solid #767676;
	padding-right: 20px;
    padding-left: 20px;
}

.header-menu-left ul > li >a:hover{
	border-bottom: 4px solid #f26c4f;
    padding-bottom: 22px;
}

.header-menu-left img {
	float:left;
	margin: 25px 13px 0 33px;
}

.header-menu-right {
	float:right;
}


.header-contacts{
	margin:0 auto;
	width: 940px;
	height: 67px;
	position: relative;
	clear:both;
}
.contacts-left {
	float:left;
}

.contacts-right {
	float:right;
	margin-right: 10px;
}

.contacts-right ul > li{
	padding-top: 6px;
	font-family: 'nexa-bold';
	font-size: 12px;
	float:left;
	list-style-type: none;
	padding-left: 28px;
}

.contacts-right ul > li > a {
	color:#8f8f8f;
}

.contacts-right span{
	display: block;
	position: relative;
	float:left;
	right:8px;
	top:1px;
	width: 13px;
	height: 13px;
	background-image:url('img/social_icon_set.png');
	background-repeat: no-repeat;
}

.contacts-right ul > li:nth-child(1) span {
	background-position: 0px 1px;

}

.contacts-right ul > li:nth-child(2) span {
	background-position: -13px 0px;

}

.contacts-right ul > li:nth-child(3) span {
	background-position: -26px 1px;

}

.contacts-right ul > li:nth-child(4) span {
	background-position: -39px 1px;

}


.main-article {
	clear: both;
    margin: 0px auto;
    top:15px;
    width: 940px;
    height: 390px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    z-index: auto;
}

.main-article-img {
	position: absolute;
	width:630px;
	overflow: hidden;
	float: left;
	z-index: 5;
}

.separator {
	position: absolute;
	z-index: 4;
	right: 285px;
}

.main-article-text {
	position: absolute;
	right: 0px;
	z-index: 3;
	width:300px;
	height: 390px;
	background-color: #373737;
	font-family: 'Arial';
	color:#8F8F8F;
}

.main-article h3 {
	font-family: 'nexa-bold';
	margin: 35px 45px 0 30px;
	font-size: 19px;
	color:#FFFFFF;
}

.main-article p {
	margin: 25px 45px 10px 30px;
	font-size: 12px;
	line-height: 1.8em;
}

.main-article a {
	margin-left:30px;
	margin-top: 30px;
	color:#FFF;
	font-size: 36px;
}

.date {
	float:right;
}

.date p {
	margin-top:12px;
}
.date p > img {
	margin-right: 10px;
	margin-top: -5px;
	vertical-align: middle;
}